<nav class="colorlib-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <p class="site">www.yoursitehere.com</p>
                </div>
                <div class="col-xs-8 text-right">
                    <p class="num">Call: +01-123-456</p>
                    <ul class="colorlib-social">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="colorlib-logo"><a href="index.html">Lux Otel</a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="active"><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                        <li><a href="@Url.Action("About","Home")">Hakkımızda</a></li>
                        <li>
                            <a href="@Url.Action("Rooms","Home")">Odalar</a>
                        </li>
                      
                        <li><a href="@Url.Action("Gallery","Home")">Galeri</a></li>
                        <li><a href="@Url.Action("Contact","Home")">İletişim</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
